/*Use google fonts to search for fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');


/*Box-sizing: width includes padding + border
  Use preview mouse tools to check picture width, height
*/
*{
	box-sizing:border-box;
}

body{
    background-color:hsl(0, 0%, 98%);
    background-repeat: no-repeat;
	font-family: "Poppins", sans-serif;
	/* Below is used to center all blocks */
	display: flex;
	align-items: center;
	justify-content: center;
}
/* Start header div */

.header{
	width: 1300px;
	margin: 15px auto;
	text-align: center;
}

h1.grey-text{
	font-weight:200;
	color:grey;
	margin:0 auto;
}

h1.black-text{
	font-weight: 400;
	color:black; 
	margin:0 auto;
}
.header p{
	color:hsl(229, 6%, 66%);
	font-weight: 600;
	opacity: 70%;
}

/* Start cards container */

.container{
	/* width: 1300px */
	margin:0 auto;
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.card{
	margin:15px 15px;
	padding: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	width: 350px;
	border-radius: 5px;
	/* trick: add red border */
	position: relative;
	/* trick: overflow on the top of border */
	overflow: hidden;
}
/* trick: set a border on top */
.card::after{
	content:"";
	height:5px;
	width: 100%;
	top:0;
	left:0;
	position:absolute;
}

.card-red::after{
	background-color:red;
}
.card-cyan::after{
	background-color:cyan;
}
.card-blue::after{
	background-color:blue;
}
.card-orange::after{
	background-color:orange;
}

.card-push{
	transform: translateY(50%);
}

img{
	display:block;
	margin-left:auto;
	size:15px;
}

.card h2{
	size:10px;
	font-size: 400;
}
.card p{
	font-family: 200;
	size:10px;
	color:grey;
}

@media (max-width:800px){
	.card{
		transform: translateY(0);
	}
}




