@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
*{
	box-sizing:border-box;
}

body{
	background-color: hsl(204, 43%, 93%);
	font-family:"karla", sans-serif;
	padding:10px;
	display:flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh
}

/* Start style of container */
.container{
	max-width:700px;
	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	transform: translateY(10);
}

/* Start header parts */
.header{
	margin:auto;
	padding:20px;
}

h1{
	font-family:"karla", sans-serif;
	font-weight: 700;
	color:hsl(179, 62%, 43%);
	font-size:30px;
}

h2{
	color:hsl(71, 73%, 54%);
	font-size:20px;
}

.grey-text{
	color:#999;
	opacity: 0.7;
	font-size:15px;
}

/* Starts first grid of 'Monthly Subscription'*/

.row{
	display:flex;
	color:white;
	overflow: hidden;
}

.cyan{
	background-color: hsl(179, 62%, 43%);
	padding: 20px;
	flex:1
}

p.faded{
	font-size: 10px;
}

p.faded strong{
	font-size:30px;
}

button{
	border-style: none;
	border-radius:12px; 
	background-color: hsl(71, 73%, 54%);
	color:white;
	width: 200px;
	height: 50px;	
	box-shadow: 0 5px 8px 0  rgba(0, 0, 0, 0.2)
   }

/* Starts second grid of 'Monthly Subscription'*/

.greyish-green{
	background-color: hsl(179, 47%, 52%);
	padding: 20px;
	flex:1
}

ul{
	text-align: left;
    color: white;
	list-style-type: none;
	padding:0px;
}

li{
	opacity: 0.7;
	padding:5px;
}

@media screen and (max-width:500px){
	.row{
		flex-direction: column;
	}
}


